/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.cards,
.quotes,
.action,
.footer {
    display: flex;
    flex: 1;
}

.cards,
.action {
    background: white;
}

.header,
.footer,
.main {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 80px;
}

.main {
    padding-bottom: 90px;
    gap: 16px;
}

.left-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 8px 0;
}

.signup {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.right {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    border: 1px solid #1F2937;
    width: 600px;
    height: 200px;
    object-fit: cover;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.cards {
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #3882F6;
}

.card-tiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 150px;
}

.tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 0;
}

.tile {
    border: 2px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.tile-image {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: fill;
}

.wrap-me {
    font-style: italic;
    width: 150px;
    height: 38px;
    color: #3882F6;
    /* line-height: 1; */
}

.wrap-me>a {
    color: #132b52;
}

.wrap-me>a:hover {
    color: #550c1c;
}

.author>a:hover {
    color: rgb(80, 13, 63);
}

.quotes {
    background: #E5E7EB;
    flex-direction: column;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 50px;
}

.actual-quote {
    font-size: 18px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    align-self: flex-end;
}

.author {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;

}

.author>a {
    color: #132b52;
}

.action {
    background: white;
    justify-content: center;
    padding: 50px;
}

.center-action {
    display: flex;
    background: #3882F6;
    border-radius: 5px;
    justify-content: space-between;
    padding: 30px 50px;
    width: 700px;
}

.action-signup {
    background: #3882F6;
    border: 1px solid #fff;
    color: white;
    font-size: 12px;
    border-radius: 8px;
}

.left-action>div {
    font-weight: normal;
    color: white;
    font-size: 12px;
    line-height: 1.5;
}

.right-action {
    display: flex;
    justify-content: flex-end;
}

.center-action>.left-action>.left-bold {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.footer {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 30px;
}