/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    line-height: 1.0;
}

body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.cards,
.quotes,
.action,
.footer {
    display: flex;
    flex: 1;
}

.cards,
.action {
    background: white;
}

.header,
.footer,
.main {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 80px;
}

.main {
    padding-bottom: 90px;
    gap: 16px;
}

.left-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 8px 0;
}

.signup {
    background: #3882F6;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.right {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    border: 1px solid #1F2937;
    width: 600px;
    height: 200px;
    object-fit: cover;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.cards {
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #3882F6;
}

.card-tiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 150px;
}

.tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tile {
    border: 2px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.tile-image {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    object-fit: fill;
}

span {
    width: 150px;
}

.footer {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}